*{
    box-sizing: border-box;
}
body{
    margin: 0;
    // font-family: martel;
    background-image: $clr9;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

button{

}
button:hover ,select:hover{
    cursor:pointer;
}
a{
    text-decoration: none;
}
a:hover{

}
a:visited{
    color: $clr7;
}
img{}

input, select, textarea{}