.main-header {
  background-color: $clr5;
  height: 55px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);

}
.logo-container {
  font-family: $logoFont;
  color: $clr8;
  font-size: 1.5rem;
  padding-bottom: 5px;
  margin-left: 50px;
}
.logo-icon {
  transition: 0.5s;
  color: $clr4;
  height: 35px;
  width: 35px;
  //   margin: 5px;
}
.sideNavBar {
  width: 150px;
  background-color: $clr6;
  padding: 5px;
  height: 90vh;
  margin-right: 10px;
//   position: fixed;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);

}
.nav-icon {
  width: 35px;
  height: 35px;
  margin-bottom: 2.5px;
  margin-right: 10px;
}
.nav-icon-text {
  font-family: $logoFont;
  font-size: 1.3rem;
}
.main-router-view {
}
.main-footer {
}
