
// COLOR PALETTE

$clr1: #d2eff1;
$clr2: #ec7353;
$clr3: #80DED9;
$clr4: rgb(244, 67, 54);
$clr5: #a5dbde;
$clr6: #d4f1f4;
$clr7: #dfac96;
$clr8: #254872;
//background-image
$clr9: linear-gradient(to right top, #e6fbfe, #c2eaee, #9dd8de, #75c7cd, #45b6bc);


// $clr1: #6D9DC5;
// $clr2: #2274A5;
// $clr3: #80DED9;
// $clr4: rgb(244, 67, 54);
// $clr5: #2274A5;
// $clr6: #445E93;
// $clr7: rgb(22, 22, 21);

// LAYOUT BREAKPOINTS

// $break-narrow: 740px;
// $break-normal: 960px;
// $break-wide: 1280px;


// $headerHeight: 5vh;

//FONT FAMILY

$logoFont: 'Sansita Swashed', cursive;

